html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
}

.banner {
    z-index: -99;
    list-style: none;

    width: 97.9%;

    position: relative;
    top: 26px;

    background-color: black;
  }

  .banner img {
    position: absolute;
    width: 102.15%;

    object-fit: cover;
    height: 700px;
  }

  #mag {
    height: 10px;
    position: relative;
    top: 700px;
  }

  .mag { /*ADD RESPONSIVE RESIZING*/
    font-weight: 800;
    font-size: 50px;
    text-align: center;

    position: relative;
    top: 740px;
  }

  .rect {
    width: 60px;
    height: 6px;
    background-color: black;

    margin: auto;

    position: relative;
    top: 725px;
  }

  div .itsoj {
    width: 80vw;
    height: 500px;
    margin: auto;

    background-image: url(assets/InTheStreetsOfFrance.png); 
    background-position: center;

    transition: background-image 8s, background-size 8s; /*test w/ ronald*/
    background-size: 100%;

    position: relative;
    top: 780px;
    
    text-align: center;

    cursor: pointer;
  }

  div .itsoj:hover{
    transition: background-image 10s, background-size 10s, filter 10s;
    background-size: 115%;
  }

  div .itsoj div {
    text-align: left;

    position: relative;
    left: 50px;
    top: 280px;

    width: 625px;
  }

  div .itsoj img {
    width: 50px;
  }

  div .itsoj h2 {
    font-size: 45px;
    font-weight: 900;
    color: white;
    margin: 10px 0px;
  }

  div .itsoj p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0px;
  }

  div .japn {
    background-image: url(assets/InTheStreetsOfJapan6.png); 
  }

  @media only screen and (max-width: 1200px){
    .banner li img {
      height: 500px;
    }
    
    .mag {
      font-size: 40px
    }

    .rect {
      height: 5px;
    }

    div .itsoj{
      height: 400px;
      top: 580px;
    }

    div .itsoj div {
      top: 215px;
    }

    div .itsoj img {
      width: 35px;
    }
  
    div .itsoj h2 {
      font-size: 40px;
    }
  
    div .itsoj p {
      font-size: 15px;
    }

    .mag { /*ADD RESPONSIVE RESIZING*/
      top: 550px;
    }
  
    .rect {
      top: 540px;
    }
  }

  @media only screen and (max-width: 900px){
    .banner li img {
      height: 400px;
    }
    
    .mag {
      font-size: 30px
    }

    .rect {
      width: 40px;
      height: 4px;
    }

    div .itsoj{
      height: 270px;
      top: 460px;
    }

    div .itsoj div {
      top: 105px;
      width: 500px;
    }

    div .itsoj img {
      width: 30px;
    }
  
    div .itsoj h2 {
      font-size: 30px;
    }
  
    div .itsoj p {
      font-size: 13px;
    }

    .mag { /*ADD RESPONSIVE RESIZING*/
      top: 440px;
    }
  
    .rect {
      top: 430px;
    }
  }

  @media only screen and (max-width: 720px){  
    .banner li img {
      height: 300px;
    }
    
    div .itsoj{
      height: 220px;
      top: 360px;
    }

    div .itsoj div {
      top: 130px;
      left: 30px;
      
      width: 320px;
      height: 90px;
    }

    div .itsoj img {
      width: 30px;

      position: relative;
      top: 10px;
    }
  
    div .itsoj h2 {
      font-size: 28px;
    }
  
    div .itsoj p {
      visibility: hidden;
    }

    .mag { /*ADD RESPONSIVE RESIZING*/
      top: 340px;
    }
  
    .rect {
      top: 330px;
    }
  }