html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

.banner {
    z-index: -99;
    list-style: none;

    width: 97.9%;

    position: relative;
    top: 26px;

    background-color: black;
  }

  .banner img {
    position: absolute;
    width: 102.15%;

    object-fit: cover;
    height: 310px;
  }

  #mag {
    height: 10px;
    position: relative;
    top: 700px;
  }

  .mag { 
    font-weight: 800;
    font-size: 50px;
    text-align: center;
  }

  .pos1 {
    position: relative;
    top: 335px;
  }

  .rect {
    width: 60px;
    height: 6px;
    background-color: black;

    margin: auto;
  }

  .pos2 {
    position: relative;
    top: 315px;
  }

  .mags {
    text-align: center;
  }

  div .itsoj {
    width: 600px;
    height: 400px;
    text-align: center;

    display: inline-block;

    background-image: url(assets/InTheStreetsOfFrance3.png); 
    background-size: fit;

    transition: background-image 8s, background-size 8s; 
    background-size: 100%;

    position: relative;
    top: 360px;
    
    text-align: center;

    cursor: pointer;
  }

  .itsoj span {
    color: white;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    bottom: 10px;
  }

  .itsoj span i {
    font-size: 13px;
    margin-right: 10px;
    position: relative;
    bottom: 1px;
  }

  div .itsoj:hover{
    transition: background-image 10s, background-size 10s, filter 10s;
    background-size: 105%;
  }

  div .itsoj div {
    text-align: left;
    position: relative;
    left: 25px;
    top: 275px;

    width: 550px;
  }

  div .itsoj img {
    width: 40px;
  }

  div .itsoj h2 {
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin: 5px 0px;
  }

  div .japn {
    background-image: url(assets/InTheStreetsOfJapan7.png); 
    margin-left: 50px;
  }

  .div2 {
    position: relative;
    top: 790px;
  }

  .pos3 {
    position: relative;
    top: 420px;
  }

  .pos4 {
    position: relative;
    top: 400px;
  }

  .pos5 {
    position: relative;
    top: 410px;
  }

  .pos6 {
    position: relative;
    top: 390px;
  }

  footer {
    width: 100%;
    height: 120px;
    background-color: black;

    /* background: url(assets/jenna\ vincent.png) center bottom no-repeat; */

    position: relative;
    top: 540px;

    text-align: center;
  }

  footer .cat-banner{
    width: auto;
    height: 90px;

    cursor: pointer;
    
    position: relative; 
    top: 18px;
  }

  @media only screen and (max-width: 1400px){
    body{
      background-color: white;
    }

    .banner {
      height: 200px;
    }

    .mag {
      font-size: 40px;
      top: 130px;
    }

    .rect {
      height: 5px;
      top: 115px;
    }

    div .itsoj{
      height: 310px;
      /* width: 470px; */
      width: 40vw;
      top: 150px;
    }

    div .itsoj div {
      top: 205px;
      left: 20px;
      width: 30vw;
      margin-right: 0px;
    }

    div .itsoj img {
      width: 35px;
    }
  
    div .itsoj h2 {
      font-size: 30px;
    }
  
    div .itsoj p {
      font-size: 15px;
    }

    .pos3 {
      top: 135px;
    }
  
    .pos4 {
      top: 120px;
    }

    .pos5 {
      position: relative;
      top: 170px;
    }
  
    .pos6 {
      position: relative;
      top: 155px;
    }

    footer {
      position: relative;
      top: 220px;
    }
  }

  @media only screen and (max-width: 1225px){

    .banner {
      height: 200px;
    }

    body {
      background-color: white;
    }
    
    .mag {
      font-size: 35px;
      top: 130px;
    }

    .rect {
      width: 40px;
      height: 4px;
      top: 114px;
    }

    div .itsoj{
      top: 145px;
      height: 270px;
    }

    div .itsoj div { 
      top: 178px;
      width: 500px;
    }

    div .japn {
      margin-left: 30px;
    }

    .itsoj span {
      font-size: 12px;
      bottom: 10px;
    }
  
    .itsoj span i {
      font-size: 10px;
      margin-right: 7px;
      bottom: 1px;
    }

    div .itsoj img {
      width: 30px;
    }
  
    div .itsoj h2 {
      font-size: 25px;
    }

    .pos3 {
      top: 135px;
    }
  
    .pos4 {
      top: -515px;
    }

    .pos5 {
      position: relative;
      top: 170px;
    }
  
    .pos6 {
      position: relative;
      top: 795px;
    }

    footer {
      position: relative;
      top: 230px;
    }
  }

  @media only screen and (max-width: 1016px){  

    .banner img {
      height: 250px;
    }
    
    div .itsoj{
      height: 200px;
      top: 100px;
    }

    div .itsoj div {
      top: 118px;
      left: 15px;
      
      width: 320px;
      height: 90px;
    }

    div .itsoj img {
      width: 20px;
    }
  
    div .itsoj h2 {
      font-size: 20px;
    }

    .itsoj span {
      font-size: 10px;
      bottom: 10px;
    }
  
    .itsoj span i {
      font-size: 8px;
      margin-right: 7px;
      bottom: 1px;
    }

    .mag { /*ADD RESPONSIVE RESIZING*/
      top: 80px;
    }
  
    .rect {
      top: 68px;
    }

    .pos3 {
      top: 85px;
    }
  
    .pos4 {
      top: 72px;
    }

    .pos5 {
      top: 120px;
    }
  
    .pos6 {
      top: 110px;
    }

    footer {
      position: relative;
      top: 170px;
    }
  }

  @media only screen and (max-width: 750px){  

    div .itsoj {
      display: block;
      margin: 35px auto;
      width: 400px;
      height: 250px;

      position: relative;
      top: 60px;
    }

    div .itsoj div {
      top: 150px;
    }

    .japn {
      margin-left: 0px;
    }

    div .itsoj img {
      width: 30px;
    }
  
    div .itsoj h2 {
      font-size: 28px;
    }

    .itsoj span {
      font-size: 14px;
      bottom: 5px;
    }
  
    .itsoj span i {
      font-size: 12px;
      margin-right: 7px;
      bottom: 1px;
    }

    .pos5 {
      margin: auto;
      width: 400px;
      top: 65px;
    }
  
    .pos6 {
      top: 80px;
    }

    .pos4 {
      top: 40px;
    }
  
    .pos3 {
      top: 50px;
    }

    footer {
      top: 140px;
    }

  }